@page
@model MowiTajm.Pages.Movies.MovieDetailsPageModel
@{
	var filteredReviews = Model.Reviews;

	if (Model.FilterValue >= 1 && Model.FilterValue <= 5)
	{
		filteredReviews = filteredReviews.Where(r => r.Rating == Model.FilterValue).ToList();
	}
	else if (Model.FilterValue == 6)
	{
		filteredReviews = filteredReviews.OrderByDescending(r => r.DateTime).ToList();
	}
	else if (Model.FilterValue == 7)
	{
		filteredReviews = filteredReviews.OrderBy(r => r.DateTime).ToList();
	}
}

@if (Model.Movie != null)
{
	<div class="page-content-container">

		<article class="article-full-movie">
			<section id="section-poster">
				<img class="movie-full-poster" src="@Model.Movie.Poster" />
			</section>

			<div class="section-details-wrapper">
				<section id="section-details">
					<p>@Model.Movie.Year | @Model.Movie.Runtime</p>
					<h1>@Model.Movie.Title</h1>
					<p>@Model.Movie.Genre</p>
					<div class="orientation-row">
						<p class="bolder">IMDB Rating:</p>
						<p>@Model.Movie.ImdbRating</p>
					</div>
					<p>MowiTajm Rating: @ViewData["MowiTajmRating"] stjärnor av 5</p> @* !! *@
					<p>FilterValue = @Model.FilterValue</p> @* !! *@
					<p>@Model.Movie.Plot</p>
					<div class="orientation-row">
						<p class="bolder">Director:</p>
						<p>@Model.Movie.Director</p>
					</div>
					<div class="orientation-row">
						<p class="bolder">Writers:</p>
						<p>@Model.Movie.Writer</p>
					</div>
					<div class="orientation-row">
						<p class="bolder">Actors:</p>
						<p>@Model.Movie.Actors</p>
					</div>
					<div class="orientation-row">
						<p class="bolder">Awards:</p>
						<p>@Model.Movie.Awards</p>
					</div>
				</section>
			</div>
		</article>

		<header class="reviews-header">
			<h2 id="reviews-title">Recensioner (@filteredReviews.Count())</h2>

			<div class="stars-filter-wrapper">
				<label class="stars-filter-clear-label btn-design btn-clear" for="searchAll" title="Rensa filtret för att se alla recensioner">Rensa Filter </label>
				<form method="post" asp-page-handler="StarFilter">
					<input type="hidden" name="Review.ImdbID" value="@Model.Movie.ImdbID" />
					<div class="stars-filter-stars review-input-stars">
						<input class="star" type="radio" id="searchStar5" value="5" asp-for="FilterValue" onchange="this.form.submit();">
						<label class="star" for="searchStar5">★ </label>

						<input class="star" type="radio" id="searchStar4" value="4" asp-for="FilterValue" onchange="this.form.submit();">
						<label class="star" for="searchStar4">★ </label>

						<input class="star" type="radio" id="searchStar3" value="3" asp-for="FilterValue" onchange="this.form.submit();">
						<label class="star" for="searchStar3">★ </label>

						<input class="star" type="radio" id="searchStar2" value="2" asp-for="FilterValue" onchange="this.form.submit();">
						<label class="star" for="searchStar2">★ </label>

						<input class="star" type="radio" id="searchStar1" value="1" asp-for="FilterValue" onchange="this.form.submit();">
						<label class="star" for="searchStar1">★ </label>

						<input class="stars-filter-clear-input" type="radio" id="searchAll" value="0" asp-for="FilterValue" onchange="this.form.submit();">
					</div>
				</form>
			</div>

			<form method="post" asp-page-handler="DateFilter">
				<input type="hidden" name="Review.ImdbID" value="@Model.Movie.ImdbID" />
				<button type="submit" id="submitButton" class="submitButtonId">Date</button>
			</form>
		</header>


		@if (TempData["ScrollToReviews"] != null && (bool)TempData["ScrollToReviews"])
		{
			<script>
				window.onload = function () {
					document.getElementById("reviews-title").scrollIntoView();
				}
			</script>
			TempData.Remove("ScrollToReviews");
		}

		<section class="section-all-reviews" id="IdAllReviews">
			@if (!filteredReviews.Any())
			{
				<p class="text-no-reviews-yet">Ingen har skrivit en recension än, bli den första!</p>
			}
			else
			{
				@foreach (var review in filteredReviews)
				{

					<article class="review-full">
						<header class="review-head">
							<p class="review-meta" style="font-family: Arial, sans-serif;">
								<span class="review-name">@review.Username</span>
								<span class="review-stars">
									@for (int i = 0; i < review.Rating; i++)
									{
										<label class="star">★</label>
									}
								</span>
							</p>
						</header>

						<section class="review-body">
							<p>@review.Title</p>
							<p>@review.Text</p>
						</section>

						<footer class="review-footer">
							<p>@review.DateTime</p>
							@if (Model.IsUserSignedIn && review.Username == Model.UserContext.DisplayName)
							{
								<div class="review-buttons">
									<a class="btn-design btn-edit" asp-page="EditReviewPage" asp-route-id="@review.Id">✏️</a>
									<form method="post" asp-page-handler="Delete" asp-route-id="@review.Id">
										<input type="hidden" asp-for="Review.ImdbID" value="@Model.Movie.ImdbID" />
										<button class="btn-design btn-delete" type="submit" title="Ta bort recensionen">❌</button>
									</form>
								</div>
							}
							else if (Model.IsUserSignedIn && Model.UserContext.IsAdmin)
							{
								<!-- Admin får bara Delete-knappen på andras reviews -->
								<div class="review-buttons">
									<form method="post" asp-page-handler="Delete" asp-route-id="@review.Id">
										<input type="hidden" asp-for="Review.ImdbID" value="@Model.Movie.ImdbID" />
										<button class="btn-design btn-delete" type="submit" title="Ta bort recensionen">❌</button>
									</form>
								</div>
							}
						</footer>
					</article>
				}
			}
		</section>

		@if (Model.IsUserSignedIn)
		{
			<h2 id="text-write-a-review">Skriv en recension</h2>

			<section class="review-input-container">
				<form class="review-input-form" method="post" asp-page-handler="AddReview">
					<input type="hidden" asp-for="Review.ImdbID" value="@Model.Movie.ImdbID"/>


					<section class="review-input-head">
							<input class="review-input-name" type="text" value="@Model.UserContext.DisplayName" asp-for="Review.Username" required readonly /><br /> @* Ändrade så att den lägger till user direkt *@
							<div class="review-input-stars">
								<input class="star" type="radio" id="star5" value="5" asp-for="Review.Rating">
								<label class="star" for="star5">★ </label>

								<input class="star" type="radio" id="star4" value="4" asp-for="Review.Rating">
								<label class="star" for="star4">★ </label>

								<input class="star" type="radio" id="star3" value="3" asp-for="Review.Rating">
								<label class="star" for="star3">★ </label>

								<input class="star" type="radio" id="star2" value="2" asp-for="Review.Rating">
								<label class="star" for="star2">★ </label>

								<input class="star" type="radio" id="star1" value="1" asp-for="Review.Rating">
								<label class="star" for="star1">★ </label>
							</div>
					</section>

					<input class="review-input-title" type="text" class="review-input-title" placeholder="Rubrik.." asp-for="Review.Title" required />
					<textarea class="review-input-text" placeholder="Vad tyckte du om filmen?" asp-for="Review.Text" required></textarea> <br />

					<footer class="review-input-btn-submit">
						<button class="btn-design btn-send" type="submit">ᯓ➤</button>
					</footer>
				</form>
			</section>
		}
	</div>
}
else
{
	<p>Filminformation kunde inte hämtas. Recensioner kan inte skrivas utan filmdata.</p>
}