@page
@model MowiTajm.Pages.Movies.MovieDetailsPageModel
@{
}

<article class="articleFullMovie">

    <section id="sectionPoster">
        <img src="@Model.Movie.Poster" />
    </section>

    <section id="sectionDetails">
        <p>@Model.Movie.Year | @Model.Movie.Runtime</p>
        <h1>@Model.Movie.Title</h1>
        <p>@Model.Movie.Genre</p>
        <p>IMDB Rating: @Model.Movie.ImdbRating</p>
        <p>@Model.Movie.Plot</p>
        <p>Released: @Model.Movie.Released</p>
        <p>Director: @Model.Movie.Director</p>
        <p>Actors: @Model.Movie.Actors</p>
    </section>

</article>