@page
@model MowiTajm.Areas.Identity.Pages.User.IndexModel
@{
	ViewData["Title"] = "Mina Recensioner";
}

<h1>Mina Recensioner</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Recension</th>
                <th>Betyg</th>
                <th>Användare</th>
                <th>Datum</th>
                <th>Hantera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.Title</td>
                    <td>@review.Text</td>
                    <td>@review.Rating / 5</td>
                    <td>@review.Username</td>
                    <td>@review.DateTime.ToShortDateString()</td>
                        <td class="orientation-row center-stuff">
                        <form method="post" asp-page-handler="EditReview" asp-route-reviewId="@review.Id">
                        <button type="submit" class="btn-design btn-black" title="Redigera recensionen" aria-label="Redigera recensionen" onclick="return confirm('Vill du redigera ditt inlägg?')">✎ᝰ.</button>
                        </form>
                        <form method="post" asp-page-handler="DeleteReview" asp-route-reviewId="@review.Id">
                            <button type="submit" class="btn-design btn-red" title="Ta bort recension" aria-label="Ta bort recension" onclick="return confirm('Är du säker att du vill ta bort denna recension?')">
                                ⛌
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>